/*获取焦点的蓝线*/
.dynamic {
    width: 0%;
    background-color: #4395FF;
    transition-duration: 0.2s;
    height: 2%;
}

/*总盒子，包括地点与时间的设置*/
.box {
    height: 70px;
    width: 920px;
    display: flex;
    transition-duration: 0.2s;
    position: relative;
    left: -12.5%;
}


/*地点盒子*/
.place {
    z-index: 20;
    /*宽，最好设置百分比，否则设置总盒子长宽时回有问题*/
    width: 56.52%;
    /*高，最好设置百分比，否则设置总盒子长宽时回有问题*/
    height: 100%;
    /*右边距，与日期盒子隔开*/
    margin-right: 3%;
    /*边框样式，宽度，颜色*/
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    /*排列方式，从左到右*/
    display: flex;
    /*阴影*/
    box-shadow: 2px 2px 6px 3px #f0f0f0;
    /*角曲线*/
    border-radius: 7px;
    /*获取焦点伪类的延时*/
    transition-duration: 0.2s;
}

/*获取焦点改变阴影的伪类*/
.place:hover {
    box-shadow: 0px 2px 10px 3px #d6d6d6;
}

/*地点盒子中的出发地盒子*/
.place .origin {
    flex: 1;
    background-color: transparent;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #e3e3e3
}

/*出发地盒子的标题盒子：出发地*/
.place .origin .title {
    width: 100%;
    height: 33%;
}

/*标题盒子的文字样式*/
.place .origin .title h2 {
    /*定位方式，相对定位*/
    position: relative;
    /*相对定位左间距*/
    left: 10%;
    /*相对定位上间距*/
    top: 30%;
    /*文字颜色*/
    color: #B39999;
    /*文字大小*/
    font-size: 30%;
}

/*出发地盒子的内容盒子*/
.place .origin .font {
    width: 100%;
    height: 65%;
}

/*内容盒子的文字样式*/
.place .origin .font input {
    position: relative;
    background-color: transparent;
    border: 0;
    outline: none;
    /*定位方式，相对定位*/
    position: relative;
    /*相对定位左间距*/
    left: 10%;
    /*相对定位上间距*/
    top: 10%;
    /*文字颜色*/
    color: #2a2a2a;
    /*文字大小*/
    font-size: 120%;
}

.place .origin .choice_box {
    box-shadow: 2px 2px 6px 3px #f0f0f0;
    z-index: 20;
    width: 190%;
    border-radius: 10px;
    border-style: solid;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #e3e3e3;
    position: relative;
    top: 10%;
    padding: 5%;
    padding-top: 0px;
    border-color: #e3e3e3;
}

.place .origin .choice_box .box_title {
    color: #616060;
    width: 98%;
    height: 35px;
    position: relative;
    top: 10px;
    border-bottom-color: #4395FF;
    padding-left: 2%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.place .origin .choice_box box_title h2 {
    position: relative;
}

.place .origin .choice_box .box_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.place .origin .choice_box .box_content .content_list {
    height: 30px;
    width: 18%;
    position: relative;
    top: 10px;
    margin: 1%;
    border-radius: 4px;

}

.place .origin .choice_box .box_content .content_list:hover {
    background-color: rgba(129, 201, 245, 0.48);
}

.place .origin .choice_box .box_content .content_list:hover h3 {
    color: #0686fb;
}

.place .origin .choice_box .box_content .content_list h3 {
    position: relative;
    left: 10%;
    top: 7px;
    font-weight: 500;
    font-size: 100%;
    color: #7f7e7e;
}

/*目的地盒子，文字的盒子与样式都与出发地盒子一样*/
.place .destination {
    flex: 1;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}

.place .destination .title {
    width: 100%;
    height: 33%;
    color: #B39999;
}

.place .destination .title h2 {
    position: relative;
    left: 10%;
    top: 30%;

    font-size: 30%;
}

.place .destination .font {
    width: 100%;
    height: 65%;
}

.place .destination .font input {
    position: relative;
    background-color: transparent;
    border: 0;
    outline: none;
    width: 80%;
    left: 10%;
    top: 10%;
    color: #2a2a2a;
    font-size: 120%;
}

.place .destination .choice_box {
    box-shadow: 2px 2px 6px 3px #f0f0f0;
    z-index: 20;
    width: 190%;
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    position: relative;
    top: 10%;
    padding: 5%;
    padding-top: 0px;
    border-color: #e3e3e3;
}

.place .destination .choice_box .box_title {
    color: #616060;
    width: 98%;
    height: 35px;
    position: relative;
    top: 10px;
    padding-left: 2%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #4395FF;
}

.place .destination .choice_box box_title h2 {
    position: relative;
}

.place .destination .choice_box .box_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.place .destination .choice_box .box_content .content_list {
    height: 30px;
    width: 18%;
    position: relative;
    top: 10px;
    margin: 1%;
    border-radius: 4px;
}

.place .destination .choice_box .box_content .content_list:hover {
    background-color: rgba(129, 201, 245, 0.48);
}

.place .destination .choice_box .box_content .content_list:hover h3 {
    color: #0686fb;
}

.place .destination .choice_box .box_content .content_list h3 {
    position: relative;
    left: 10%;
    top: 7px;
    font-weight: 500;
    font-size: 100%;
    color: #7f7e7e;
}

/*日期盒子，文字的盒子与样式都与出发地盒子一样*/
.data {
    width: 25.82%;
    height: 100%;
    margin-right: 3%;
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    box-shadow: 2px 2px 6px 3px #f0f0f0;
    border-radius: 7px;
    transition-duration: 0.2s;
}

.data:hover {
    box-shadow: 0px 2px 10px 3px #d6d6d6;
}

.data .title {
    width: 100%;
    height: 33%;
}

.data .title h2 {
    position: relative;
    left: 10%;
    top: 30%;
    color: #B39999;
    font-size: 30%;
}

.data .font {
    width: 100%;
    height: 65%;
}

.data .font input {
    position: relative;
    background-color: transparent;
    border: 0;
    outline: none;
    width: 80%;
    left: 10%;
    top: 10%;
    color: #2a2a2a;
    font-size: 120%;
}

.data .data-choice {
    z-index: 50;
    width: 150%;
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    top: 10px;
    position: relative;
    background-color: #ffffff;
    right: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 3px #f0f0f0;
}

.data .data-choice .choice-head {
    width: 60%;
    height: 70px;
    display: flex;
    font-size: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    left: 67px;
}

.data .data-choice .choice-head .mounth {
    position: relative;
    font-size: 22px;
    top: 15px;
    width: 96%;
    text-align: center;
}

.data .data-choice .choice-head .mounth-left-show {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #e9e9e9;
    background-image: url(../images/left.png);
    background-size: 90% auto;
    background-repeat: no-repeat
}

.data .data-choice .choice-head .mounth-left {
    position: relative;
    height: 55%;
    font-size: 25px;
    width: 56px;
    right: 20px;
    top: 15.5%;
}

.data .data-choice .choice-head .mounth-right-show {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #e9e9e9;
    background-image: url(../images/right.png);
    background-size: 90% auto;
    background-repeat: no-repeat
}

.data .data-choice .choice-head .mounth-right {
    position: relative;
    left: 25px;
    height: 55%;
    font-size: 20px;
    width: 56px;
    top: 15.5%;
}

.data .data-choice .data-enter {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    top: -20px;
    position: relative;
    left: 35%;
    background-color: #4395FF;
    text-align: center;
}

.data .data-choice .data-enter h2 {
    font-size: 20px;
    position: relative;
    top: 6px;
    color: #FFFFFF;
}

.data .data-choice .data-week {
    width: 90%;
    height: 25px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(129, 201, 245, 0.48);
    display: flex;
    border-radius: 3px;
}

.data .data-choice .data-week .data-week-list {
    height: 100%;
    flex: 1;
    text-align: center;
    font-size: 90%;
    padding-top: 2px;
}

.data .data-choice .data-content {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.data .data-choice .data-content .data-content-list {
    height: 35px;
    width: 14.285%;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
}

.data .data-choice .data-content .data-content-list:hover {
    background-color: rgba(129, 201, 245, 0.48);
    color: #0686fb;
}

/*确认按钮*/
.confirm {
    height: 70%;
    position: relative;
    top: 15%;
    width: 12.04%;
    border-radius: 10px;
    background-color: #4395FF;
}

.confirm:active {
    top: 17%;
}

.confirm .confirm-page {
    background-image: url(../images/search.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    position: absolute;
    left: 10%;
    top: 15%;
}

.confirm .confirm-font {
    position: absolute;
    left: 45%;
    color: #ffffff;
    font-size: 20px;
    top: 20%;

}

/*样式变形区*/
/*输入框上蓝条*/
.choice_show {
    width: 100%;
}

/*选择框循环内容获取焦点时边蓝*/
/*框部分*/
.box_content_focus {
    background-color: rgba(129, 201, 245, 0.48);
    color: #0686fb;
}

/*搜索按钮点击后的反馈*/
.confirm-click {
    top: 17%;
}

/*输入框值不合法时红色提醒*/
tip-font {
    color: red;
}

.content {
    border-style: solid;
    z-index: 10;
    border-width: 1px;
    border-color: #e3e3e3;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 3px #f0f0f0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 200%;
    display: flex;
    background-color: #EEF1F6;
    flex-wrap: wrap;
    position: relative;
    left: -50%;
    margin-bottom: -200px;
}

.content .content-list {
    background-color: #ffffff;
    margin-top: 3px;
    width: 100%;
    height: 100px;
    display: flex;
}

.content .content-list:hover {
    box-shadow: 0px 0px 6px 4px #f0f0f0;
    z-index: 20;
}

.content .content-list .platform {
    width: 30%;
    height: 100%;
    display: flex;
}

.content .content-list .platform .platform-loge {
    width: 18.7%;
    height: 75px;
    position: relative;
    top: 15.5px;
    left: 12%;
    background-size: 100% auto;
    background-repeat: no-repeat
}

.content .content-list .platform .platform-font {
    position: relative;
    top: 22.5px;
    left: 15%;
}

.content .content-list .platform .platform-font font:first-child {
    font-size: 25px;
}

.content .content-list .platform .platform-font font:last-child {
    font-size: 15px;
    color: #0086F6;
}

.content .content-list .time-place {
    width: 40%;
    height: 100%;
    display: flex;
}

.content .content-list .time-place .font-left {
    position: relative;
    top: 20px;
    height: 0px;
    width: 30%;
    text-align: center;
}

.content .content-list .time-place .font-left font:first-child {
    font-size: 30px;
}

.content .content-list .time-place .font-right {
    position: relative;
    top: 20px;
    height: 0px;
    width: 30%;
    left: -6%;
    text-align: center;
}

.content .content-list .time-place .font-right font:first-child {
    font-size: 30px;
}

.content .content-list .time-place .page {
    background-image: url(../images/qianwang.png);
    background-size: 90% auto;
    background-repeat: no-repeat;
    width: 40%;
    position: relative;
    top: 30px;
}

.content .content-list .price {
    width: 30%;
    display: flex;
    height: 100%;
    text-align: center;
}

.content .content-list .price .price-font {
    position: relative;
    margin-left: 35%;
    top: 20px;
}

.content .content-list .price .price-font font:nth-child(1) {
    font-size: 15px;
    color: #0086F6;
}

.content .content-list .price .price-font font:nth-child(2) {
    font-size: 27px;
    color: #0086F6;
}

.content .content-list .price a {
    width: 33%;
}

.content .content-list .price a .price-purchase {
    background-color: #0086F6;
    height: 45px;
    width: 100%;
    overflow: hidden;
    position: relative;
    left: 3%;
    top: 28px;
    border-radius: 7px;
    text-align: center;
}

.content .content-list .price a .price-purchase:active {
    top: 32px;
}


.content .content-list .price a .price-purchase font:nth-child(1) {
    position: relative;
    top: 7px;
    font-size: 22px;
    color: #ffffff;
}

.content .content-list .price a .price-purchase font:nth-child(2) {
    position: absolute;
    right: 2px;
    font-weight: 800;
    font-size: 13px;
    background: rgba(67, 255, 23, 0.84);
    color: #ffffff;
    border-bottom-left-radius: 6px;
    right: -1px;
}