<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Home </title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mainStyles.css') }}"/>
    <link rel='stylesheet' href='{{ url_for('static',filename='css/dscountdown.css') }}' type='text/css' media='all'/>
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/flexslider.css') }}" type="text/css" media="screen"
          property=""/>
    <!-- gallery -->
    <link href="{{ url_for('static',filename='css/lsb.css') }}" rel="stylesheet" type="text/css">
    <!-- //gallery -->
    <!-- font-awesome-icons -->
    <link href=" {{ url_for('static',filename='css/font-awesome.css') }}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,900"
          rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
<!-- banner -->
<div class="header">

    <div class="w3layouts_header_right">
        <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i>15616435916</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">1048655155@qq.com</a>
            </li>
        </ul>
    </div>
    <div class="w3layouts_header_left">
        <ul>
            {% if user %}
                <li><a href="#"><i class="fa fa-user"
                                   aria-hidden="true"></i>
                    {{ user.username }}</a></li>
                <li><a href="{{ url_for('user.logout') }}"><i
                        class="fa fa-pencil-square-o"
                        aria-hidden="true"></i>退出</a></li>
            {% else %}
                <li><a href="{{ url_for('user.login') }}"><i class="fa fa-user"
                                                             aria-hidden="true"></i>
                    登录</a></li>
                <li><a href="{{ url_for('user.register') }}"><i
                        class="fa fa-pencil-square-o"
                        aria-hidden="true"></i> 注册</a></li>
            {% endif %}
        </ul>

    </div>
    <div class="clearfix"></div>
</div>

<div class="banner" style="background-color: whitesmoke">
    <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html">基于大数据的实时售票系统</a></h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav class="link-effect-2" id="link-effect-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('flight.index') }}"><span data-hover="首页">首页</span></a>
                    </li>
                    <li><a href="{{ url_for('flight.message') }}"><span data-hover="航班信息">航班信息</span></a></li>
                    <li><a href="{{ url_for('flight.discount') }}"><span data-hover="特价机票">特价机票</span></a></li>
                    <li><a href="{{ url_for('flight.fuzzy_search') }}"><span data-hover="模糊搜索">模糊搜索</span></a></li>
                    <li><a href="{{ url_for('flight.forecast') }}"><span data-hover="机票分析">机票分析</span></a></li>
                </ul>
            </nav>

        </div>
        <div class="w3_agile_search">
            <form action="#" method="post">
                <input type="search" name="Search" placeholder="搜索关键字..." required/>
                <input type="submit" value="搜索">
            </form>

        </div>
    </nav>
</div>
{% block body %}

{% endblock %}

<!-- //testimonials -->
<!-- middle -->

<!-- //middle -->
<!-- //testimonials -->
<!-- footer -->
<div class="footer_agile_w3ls">
    <div class="container">
        <div class="agileits_w3layouts_footer_grids">
            <div class="col-md-3 footer-w3-agileits">
                <h3>Training Grounds</h3>
                <ul>
                    <li>Etiam quis placerat</li>
                    <li>the printing</li>
                    <li>unknown printer</li>
                    <li>Lorem Ipsum</li>
                </ul>
            </div>
            <div class="col-md-3 footer-agileits">
                <h3>Specialized</h3>
                <ul>
                    <li>the printing</li>
                    <li>Etiam quis placerat</li>
                    <li>Lorem Ipsum</li>
                    <li>unknown printer</li>
                </ul>
            </div>
            <div class="col-md-3 footer-wthree">
                <h3>Partners</h3>
                <ul>
                    <li>unknown printer</li>
                    <li>Lorem Ipsum</li>
                    <li>the printing</li>
                    <li>Etiam quis placerat</li>
                </ul>
            </div>

            <div class="col-md-3 footer-agileits-w3layouts">
                <h3>Our Links</h3>
                <ul>
                    <li><a href="{{ url_for('flight.index') }}">首页</a>
                    <li><a href="{{ url_for('flight.message') }}">航班信息</a></li>
                    <li><a href="{{ url_for('flight.discount') }}">特价机票</a></li>
                    <li><a href="{{ url_for('flight.fuzzy_search') }}">模糊搜索</a></li>
                    <li><a href="{{ url_for('flight.forecast') }}">机票分析</a></li>

            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<div class="wthree_copy_right">
    <div class="container">
        <p>李俊 &copy; 个人制作系统
        </p>
    </div>
</div>
<!-- //footer -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Sign In</h3>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="E-mail" required>
                            <input type="password" name="password" placeholder="Password" required>
                            <div class="tp">
                                <input type="submit" value="Sign In">
                            </div>
                        </form>
                    </div>
                    <div class="login-social-grids">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    <p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Sign Up</h3>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Username" required>
                            <input type="email" name="email" placeholder="Email" required>
                            <input type="password" name="password" placeholder="Password" required>
                            <input type="password" name="password" placeholder="Confirm Password" required>
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                    <p><a href="#"> By clicking register, I agree to your terms</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->

<!-- //bootstrap-pop-up -->

<!-- js -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
<!-- //js -->
<!-- Counter required files -->
<script type="text/javascript" src="{{ url_for('static',filename='js/dscountdown.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/demo-1.js') }}"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.demo2').dsCountDown({
            endDate: new Date("December 24, 2020 23:59:00"),
            theme: 'black'
        });
    });
</script>
<!-- //Counter required files -->

<script src="{{ url_for('static',filename='js/mainScript.js') }}"></script>
<script src="{{ url_for('static',filename='js/rgbSlide.min.js') }}"></script>
<!-- carousal -->
<script src="{{ url_for('static',filename='js/slick.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function () {
        $(".center").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            slidesToShow: 2,
            slidesToScroll: 2,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: false,
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: false,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>
<!-- //carousal -->
<!-- flexisel -->
<script type="text/javascript">
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.flexisel.js') }}"></script>
<!-- //flexisel -->
<!-- gallery-pop-up -->

<script src="{{ url_for('static',filename='js/lsb.min.js') }}"></script>
<script>
    $(window).load(function () {
        $.fn.lightspeedBox();
    });
</script>
<!-- //gallery-pop-up -->
<!-- flexSlider -->
<script defer src="{{ url_for('static',filename='js/jquery.flexisel.js') }}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!-- //flexSlider -->

<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ url_for('static',filename='js/move-top.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/easing.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- start-smooth-scrolling -->
<!-- for bootstrap working -->
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>