{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block body %}
    <div class="stats">
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid">
            <p class="counter">{{ index_dic['source_num'] }}</p>
            <h3>所爬网站数</h3>
        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
            <p class="counter">{{ index_dic['data_num'] }}</p>
            <h3>累计爬取机票信息数</h3>
        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
            <p class="counter">{{ index_dic['taday_data_num'] }}</p>
            <h3>今日更新机票信息数</h3>
        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
            <p class="counter">{{ index_dic['user_num'] }}</p>
            <h3>当前用户数</h3>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="testimonials">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header">热门动态</h3>
            <div class="w3ls_testimonials_grids">
                <section class="center slider">
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <h4>"海南航空：自由飞”第二期来了！</h4>
                            <p>
                                为回馈广大旅客的支持和厚爱，继首期“自由飞”产品成功销售之后，8月16日起，海南航空将推出“自由飞”第二期产品，为旅客提供更灵活、优惠的出行选择，促进疫情防控常态下国内航空旅游业消费大循环，助力海南自贸港建设。</p>


                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <h4>51小长假南航出行、返程票量充足</h4>
                            <p>
                                5月1日-4日为今年的“五一”小长假，不少市民已经开始做出行计划。南航工作人员介绍，假期头尾两天分别为出行和返程的高峰，南航从广西始发大部分航线的票量还比较充足，多条航线仍有五折以下折扣机票。</p>


                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <h4>乘客在托运行李时应该如何办理？</h4>
                            <p>
                                根据我国航空公司的规定，如果是普通舱的乘客，那么托运的不超过20公斤，所以我们需要凭有效的证明在指定的窗口进行办理，乘客在托运行李时应该如何办理？如果乘客的行李比较多，超出的部分将会按照托运的费用来执行。</p>

                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <h4>头等舱与经济舱有什么区别？</h4>
                            <p>
                                经济舱的座位设在靠中间到机尾的地方，占机身的四分之三空间或更多一些，座位安排的比较紧。头等舱座位宽敞，旅客可以在座位上打牌或者摊开自己的文件。鸡尾酒是免费的，食品更加精美，如果你想要，还可以供应香槟。</p>


                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <h4>网络订购飞机票预订的常见问题</h4>
                            <p>
                                网络订购机票会出现一些常见的问题，包括网上怎么订票，凭什么拿票以及如何登机等，其实现在网上订票采用的都是电子出票制度，这种电子出票机都非常的安全，避免一些不法分子的不法行为，能够从大众消费者的安全出发。</p>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="coaching_section">
        <div class="container">
            <div class="w3_agile_team_grid">
                <div class="w3_agile_team_grid_left">
                    <h3 class="w3l_header w3_agileits_header">特价机票信息来源</h3>
                    <p class="sub_para_agile">爬取国内多大主流的热门售票网站</p>
                </div>
            </div>
            <div class="agile_team_grids_top">
                <div class="col-md-4 w3_agile_services_grid">
                    <div class="agile_services_grid1 wthree_services_grid1">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">
                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>

                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：9.8</a></h4>
                        <p>
                            国内知名在线旅游平台，可实时搜索约9000家旅游代理商网站，覆盖全球范围内超过68万条国内及国际航线，与国内外超过100家航空公司进行了深度合作。</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid">
                    <div class="agile_services_grid1 wthree_services_grid2">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：8.8</a></h4>
                        <p>
                            国内知名休闲旅游预订平台，推出有牛人专线、首付出发旅游等品质高端、价格实惠的旅游路线，累计服务超过1亿人次出游。</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid">
                    <div class="agile_services_grid1 wthree_services_grid3">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：10.0</a></h4>
                        <p>国内颇具影响力的在线票务服务提供商,向超过9000万会员提供集酒店预订、机票预订、度假预订、商旅管理、特惠商户及旅游资讯在内的全方位旅行服务。.</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid two">
                    <div class="agile_services_grid1 wthree_services_grid4">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：9.2</a></h4>
                        <p>同程旅行是国内知名的一站式旅游预订平台，提供酒店、机票、火车票、景点门票、周边游、境内游、出境游、签证、邮轮、定制游等产品预订服务。</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid two">
                    <div class="agile_services_grid1 wthree_services_grid5">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：8.1</a></h4>
                        <p>创立于2008年，国内知名综合性旅游网站，一站式自助游资讯及预订平台，提供景区门票/度假酒店/周边游/定制游/国内游/出境游/大交通等服务。</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid two">
                    <div class="agile_services_grid1 wthree_services_grid6">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：8.9</a></h4>
                        <p>艺龙创立于1999年，作为国内优质的在线旅行服务提供商之一，提供专业的酒店住宿预订、机票、火车票等全方位的旅行产品预订服务。</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}