{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block body %}
    <div class="stats">
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid">
            <p class="counter">{{ index_dic['source_num'] }}</p>
            <h3>所爬网站数</h3>
        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
            <p class="counter">{{ index_dic['data_num'] }}</p>
            <h3>累计爬取机票信息数</h3>
        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
            <p class="counter">{{ index_dic['taday_data_num'] }}</p>
            <h3>今日更新机票信息数</h3>
        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
            <p class="counter">{{ index_dic['user_num'] }}</p>
            <h3>当前用户数</h3>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="testimonials">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header">热门动态</h3>
            <p class="sub_para_agile">Ipsum dolor sit amet consectetur adipisicing elit</p>
            <div class="w3ls_testimonials_grids">
                <section class="center slider">
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                non laoreet dolor.</p>
                            <h4>Rosy Crisp</h4>
                            <h5>Instructor</h5>

                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                non laoreet dolor.</p>
                            <h4>Laura Paul</h4>
                            <h5>Instructor</h5>
                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                non laoreet dolor.</p>
                            <h4>Michael Doe</h4>
                            <h5>Instructor</h5>
                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                non laoreet dolor.</p>
                            <h4>Rosy Crisp</h4>
                            <h5>Instructor</h5>

                        </div>
                    </div>
                    <div class="agileits_testimonial_grid">
                        <div class="w3l_testimonial_grid">
                            <p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                non laoreet dolor.</p>
                            <h4>Rosy Crisp</h4>
                            <h5>Instructor</h5>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="coaching_section">
        <div class="container">
            <div class="w3_agile_team_grid">
                <div class="w3_agile_team_grid_left">
                    <h3 class="w3l_header w3_agileits_header">特价机票信息来源</h3>
                    <p class="sub_para_agile">爬取国内多大主流的热门售票网站</p>
                </div>
            </div>
            <div class="agile_team_grids_top">
                <div class="col-md-4 w3_agile_services_grid">
                    <div class="agile_services_grid1 wthree_services_grid1">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">
                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>

                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：9.8</a></h4>
                        <p>Etiam quis placerat dui, sit amet tristique nisl. Donec eget finibus
                            eros.</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid">
                    <div class="agile_services_grid1 wthree_services_grid2">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：8.8</a></h4>
                        <p>Etiam quis placerat dui, sit amet tristique nisl. Donec eget finibus eros.</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid">
                    <div class="agile_services_grid1 wthree_services_grid3">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：10.0</a></h4>
                        <p>Etiam quis placerat dui, sit amet tristique nisl. Donec eget finibus eros.</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid two">
                    <div class="agile_services_grid1 wthree_services_grid4">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：9.2</a></h4>
                        <p>Etiam quis placerat dui, sit amet tristique nisl. Donec eget finibus eros.</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid two">
                    <div class="agile_services_grid1 wthree_services_grid5">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：8.1</a></h4>
                        <p>Etiam quis placerat dui, sit amet tristique nisl. Donec eget finibus eros.</p>
                    </div>
                </div>
                <div class="col-md-4 w3_agile_services_grid two">
                    <div class="agile_services_grid1 wthree_services_grid6">
                        <h3>Coaching</h3>
                        <div class="agile_services_grid1_sub">

                        </div>

                    </div>
                    <div class="agileits_w3layouts_services_grid1">
                        <div class="w3_agileits_services_grid1">
                            <div class="w3_agileits_services_grid1l">

                            </div>
                            <div class="w3_agileits_services_grid1r">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h4><a href="#" data-toggle="modal" data-target="#myModal">品牌指数：8.9</a></h4>
                        <p>Etiam quis placerat dui, sit amet tristique nisl. Donec eget finibus eros.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}